


@media screen and (min-width:1200px){
    .app{
        padding: 10.8rem 16.4rem 8.2rem 16.4rem;
        grid-template-columns: repeat(3,1fr);
        .card{
            padding: 3rem 0 2rem 3rem;
            img{
                padding: 0 ;
                margin-bottom: 2rem;
            }
            h2{
                font-size: 2.5rem;
                margin-bottom: 1.5rem;
                padding: 0;
                color: $white
            }
            P{
                margin-bottom: 2rem;
            }
            button{
                margin-top: 2rem;
                padding: 1rem 2rem 1rem 2rem;
                &:hover{
                    background-color: transparent;
                }
            }
        }
        .sedans{
            border-radius: 10px 0 0 10px;
        }
        .luxury{
            border-radius:0 10px 10px 0;
        }
    
    }
    
}



@media screen and (min-width:500px) and (max-width:1200px){
    body{
        display: flex;
        justify-content: center;
    }
    .card{
        max-width: 400px;
    }
}